@font-face {
    font-family:Disturbed ;
    src: url(/Disturbed.otf);
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-color: black;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wall{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    transform: scale(1); /* Adjust the scale value as needed */
    transform-origin: center center; /* Ensure it scales from the center */
}
.backwall{
    display: flex;
    gap: 7.5%;
    opacity: .21;
    
    
}
.backwall img{
    width: 10%;
}
.Disturbed{
    font-family: Disturbed;
}
.change{
    z-index: 2;
    color: white;
    display: grid;
}
.change h1, .change h3, .change h5 {
    font-size: 6.5vw;
    letter-spacing: 0.5vw;
    text-align: center;
    display: inline;
    margin: 0;
    padding: 0; 
    accent-color:unset;
}
.change img{
    margin-bottom: 5%;
    width: 25vw;
    justify-self: center;
}
.change h3 {
    font-size: 1.5vw;
    letter-spacing: 0.15vw;
}

.change h5 {
    font-size: 1vw;
    letter-spacing: 0.15vw;
    margin-top: 5%;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

@media (max-width:1000px) {
    body{
        max-width: 100vw;
        max-height: 100vh;
        overflow: hidden;
    }
    .wall{
        height: 100%;
        width: 100%;
    }
    .change{
       width: 60vw;
       height: 18vh;
    }
    .change img{
        margin-bottom: 5%;
        width: 60vw;
        margin: 0;
    }
    .change h3 {
        font-size:clamp(20px,3.5vw,5vw) ;
        letter-spacing: 0.3vw;
        margin-top: -5%;
    }
    .change h5 {
        font-size:clamp(15px,3vw,4vw) ;
        margin: 0;
    }
}
